<h2>Yeni Proje Başvurusu</h2>
<p>Merhaba,</p>
<p>EMO-Genç Proje Yarışmasına yeni bir proje başvurusu yapıldı. Proje başvurusunun detaylarını görüntülemek için <%= link_to "buraya", admission_build_url(:final, @admission) %> tıklayın.</p>
<p>Projeye hakem atamak için lütfen <%= link_to "buraya", reviewer_select_admission_url(@admission) %> tıklayın.</p>
