<div class="main_page_container">
  <%= render :partial => "refills/hero" %>
  <%= render :partial => "refills/icon_bullet_points" %>
  <%= render "application/logos" %>
  <%= render :partial => "refills/footer_2" %>
</div>
