<h2>İletişim Bilgileri</h2>

<h3>TMMOB Elektrik Mühendisleri Odası Bursa Şubesi</h3>
<p>Adres: BURSA AKADEMİK ODALAR BİRLİĞİ YERLEŞKESİ (BAOB) ODUNLUK MH. AKADEMİ CAD. NO:8 16040 MERKEZ - BURSA</p>
<p>Tel: +90 224 4511212</p>
Email: <a href="mailto:bursa@emo.org.tr">bursa@emo.org.tr</a>
