<h2>YÜRÜTME KURULU</h2>
<li>Hüseyin YEŞİL (EMO Yön. Kur. Başkanı)</li>
<li>Remzi ÇINAR (EMO Bursa Şubesi Yön. Kur. Başkanı)</li>
<li>Tunç ALADAĞLI (EMO Bursa Şubesi Yön. Kur. Başkan Yardımcısı)</li>
<li>Aytaç SEVİM (EMO Bursa Şubesi Yön. Kur. Yazmanı)</li>
<li>Burak ÖZGEN  (EMO Bursa Şubesi Yön. Kur. Saymanı) </li>
<li>Mutlu YILMAZ (Emo Bursa Şubesi)</li>
<li>Osman Aykut BAŞKAN (EMO Bursa Şubesi)</li>
<li>Sedat Gökmenoğlu (EMO Bursa Şubesi)</li>
<li>Halil İbrahim BAKAR (EMO Bursa Şubesi)  </li>
<li>Ozan YEŞİLKAYA (EMO Bursa Şubesi)</li>
<li>Mustafa DAYANIKLI (VEMUS Elektronik)</li>
<li>Bayezit DİRİM (BAYKAL Makina)</li>
<li>Ayhan ISPALAR (EMKO Elektronik)</li>
<li>Mümin CEYHAN (TEMSA)</li>
<li>Prof. Dr. Güneş YILMAZ (Uludağ Üniversitesi)</li>
<li>Yrd.Doç.Dr. Cemal HANİLÇİ (Bursa Teknik Üniversitesi)</li>
<li>Doç.Dr.Murat Erhan BALCI (Balıkesir Üniversitesi)</li>


<br>
<h2>DEĞERLENDİRME KURULU</h2>
<li>Prof. Dr. Aydın AKAN (İstanbul Üniversitesi)</li>
<li>Prof. Dr. Oğuzhan ÇİÇEKOĞLU (Boğaziçi Üniversitesi)</li>
<li>Prof. Dr. Özcan KALENDERLİ (İstanbul Teknik Üniversitesi)</li>
<li>Prof. Dr. Serdar ÖZOĞUZ  (İstanbul Teknik Üniversitesi)</li>
<li>Prof. Dr. Sadri ÖZCAN (İstanbul Teknik Üniversitesi)</li>
<li>Öğr. Gör. Zekeriya ÖZDEMİR (Sakarya Üniversitesi)</li>
<li>Doç. Dr. İrfan ŞENLİK (EMO) </li>
<li>Ali ŞENGÜR (Tofaş)</li>
<li>Erkan EGELİ (EMKO Elektronik)</li>
<li>Ömer ADIŞEN</li>
<li>Soner ÖZDEMİR (Karaçim Elektronik)</li>
<li>Münir BÜYÜKYAZICI (VEMUS Elektronik)</li>
<li>Osman AKIN (Litera Bilişim)</li>
<li>Murat GÜNEY (KORTEKS)</li>

<br>

<h2>PROJE KONULARI</h2>
<li>Antenler</li>
<li>Aydınlatma</li>
<li>Biyomedikal</li>
<li>Devreler ve Sistemler</li>
<li>Elektrik Tesisleri</li>
<li>Elektrik Makinaları ve Sürücüler</li>
<li>Elektriksel Malzemeler</li>
<li>Elektronik</li>
<li>Elektromanyetik Alanlar</li>
<li>Elektronik Güvenlik Sistemleri</li>
<li>Endüstri 4.0 Uygulamaları</li>
<li>Güç Elektroniği</li>
<li>Haberleşme ve İletişim Sistemleri</li>
<li>Kontrol Sistemleri ve Uygulamaları</li>
<li>Mekatronik</li>
<li>Mikrodalga Tekniği</li>
<li>Otomasyon Sistemleri</li>
<li>Robotik</li>
<li>Sinyal İşleme</li>
<li>Yüksek Gerilim Tekniği</li>
<li>Diğer Elektrik-Elektronik  ve </li>
<li>Biyomedikal Mühendisliği Alanları</li>
  
<br>

<h2>YARIŞMA TAKVİMİ</h2>

<li><strong>Özgün Proje Yarışmasına katılacak gönüllü
  öğrencilerin kayıt tarihi
</strong> 10 - 17 Ekim 2016</li>
<li><strong>Özgün Proje yarışmasına kayıt yapan gönüllü
  öğrencilere verilecek seminer tarihleri
</strong>01 Kasım - 31 Aralık 2016</li>

<li><strong>Bildiri gönderim son tarihi</strong>
  15 Nisan 2017</li>
    
  <br>

<h2>Kimler Başvurabilir:</h2>
<li>Uludağ Üniversitesi Mühendislik Fakültesi Elektrik - Elektronik Mühendisliği Bölüm Öğrencileri </li>
<li>Balıkesir Üniversitesi Mühendislik - Mimarlık Fakültesi - Elektrik - Elektronik Mühendisliği Bölümü Öğrencileri,</li>
<li>Bursa Teknik Üniversitesi Doğa Bilimleri Mimarlık ve Mühendislik Fakültesi Elektrik-Elektronik Mühendisliği Bölümü Öğrencileri</li>

<br>

<h3>Not: </h3>Takım olarak katılımlarda en az bir katılımcı Elektrik -
Elektrik Elektronik Biyomedikal Mühendisliği bölümlerinde
öğrenim görüyor olması şartı ile diğer disiplinlerden
katılımcılarda olabilir.
