<h2>
Değerli EMO-Genç üyesi arkadaşlarımız ,
</h2>

<p>Şubemiz,  mühendis adaylarını çalışmalarında teşvik etmek, yaptıkları çalışmaları bilim  dünyasına, araştırma kurumlarına, sanayi kuruluşlarına ve kamuoyuna duyurmasına  yardımcı olmak, gelecekteki meslek odaları olacak Elektrik Mühendisleri Odası  ile bağlarını güçlendirmek amacıyla   2004  yılında  Uludağ Üniversitesinden 8 Projenin  katılımıyla birincisi düzenlenen EMO-Genç Özgün Proje Yarışması, yıllar  geçtikçe  Dumlupınar Üniversitesi,  Balıkesir Üniversitesi, Çanakkale 18 Mart Üniversitesi, Bursa Orhangazi  Üniversitesi ve Son olarak Bursa Teknik Üniversitesinin  katılımlarıyla 14 yıl içinde toplamda 200  projenin katıldığı geleneksel   düzenlenen  bir etkinliğe  dönüşmüştür.</p>

    <p>• Bazı  fikirlerin de maddi olanaksızlıklar nedeni ile uygulamaya dönüşemediğinin  bilincinde olan Şubemiz, isteyen katılımcıların projelerine, ilgilenebilecek  kişi ve kuruluşlar ile temasa geçerek gerek maddi gerek ise danışman desteği  bulabilmek için çalışmalar yaparak genç mühendis adaylarımızı desteklemek  amacındadır.</p>
    <p>•  Öğrencilerimizin yapmış olduğu bir çok çalışma, ne yazık ki üniversite içinde  kalmakta, uygulama alanı bulamamaktadır. Oysa ki genç mühendis  adaylarımızın  projeleri içerisinde  ülkemiz sanayisi ve bilim dünyası için yararlı olabilecek çalışmaların  bulunduğunu düşünüyoruz. Proje yarışmasının sonucunda uygulama alanı  bulabilecek projelerin ve yaratıcılarının ülkemiz sanayicileri ve girişimcileri  ile tanışma olanağına kavuşacağını ümit ediyoruz.</p>
    <p>• Bir ürün  elde etmek için yapılacak çalışmaların temelinde yenilik  ve yaratıcılık bulunmalıdır. Bu nedenle  yarışmamızın adı ÖZGÜN PROJE YARIŞMASI olarak adlandırılmıştır.</p>
    <p>2016-2017 Eğitim  öğretim yılında Uludağ Üniversitesi Mühendislik Fakültesi Elektrik-Elektronik  Mühendisliği Bölümü,  Balıkesir  Üniversitesi Mühendislik Mimarlık Fakültesi-Elektrik Elektronik Mühendisliği  Bölümü, Bursa Teknik Üniversitesi Doğa Bilimleri, Mühendislik Fakültesi  Elektrik-Elektronik Mühendisliği Bölümü Lisans öğrencilerinin  katılımı ile 14. Özgün Proje yarışması  düzenlenecektir.           </p>
    <p><strong>2017  yılında yapacağımız 15. EMO-Genç Özgün Proje yarışmamızın  formatını değiştirerek yarışmanın havasını  değiştirmek istedik.</strong> <br />
        <strong>Amacımız ;</strong> </p>
    <p>• Özgün Proje yarışmasını, hocalarımızın zoruyla katılan  bitirme projeleri yarışması olmaktan çıkarmak,      <br />
      • Birinci  sınıftan itibaren her sınıftan öğrencinin katılabileceği, özgün fikirlerin  toplanacağı bir yarışma haline getirmek,<br />
      • Yarışmaya  katılan öğrencilere eğitimler, seminerler düzenleyerek öğrencilerin mesleki  birikimlerini geliştirmelerine katkıda bulunmak,<br />
      •  Yarışmacıları Ar-Ge konusunda bilinçlendirmek, eğitmek ve tecrübe kazanmalarına  yardımcı olmak,<br />
      • Yarışmacı  mentorluğu (danışmanlığı) sayesinde öğrencilerin sanayi tecrübeleriyle  buluşturmak, deneyimlerinin artmasına katkıda bulunmak,<br />
      • ELECO  Gelecek Parkını zenginleştirecek projelerin gerçekleştirilmesini sağlamak ,<br />
      • Yarışma  projelerinin kalitesini arttırarak kısa vadede yurt çapında örnek bir yarışma  olabilmesini sağlamak.        </p>
    <p><strong>Projelerimizi  girebilmek için oluşturulmuş olan WEB   Portalın amacı;</strong> </p>
    <p>• Üyelik  sistemiyle öğrencilerle etkili iletişim ortamı yaratarak, Şubemizde  düzenlenecek eğitimlere katılımın arttırılmasını sağlamak,<br />
      • Gönüllü  katılımcılar ile EMO-Genç alt yapısını zenginleştirmek, EMO ile bağlarını  güçlendirmek,<br />
      • Proje  hazırlayan ve gönüllü öğrencilerin web sitesiyle bağının sürekliliğini  sağlanması, bu sayede öğrencilere EMO etkinlik duyurularının daha etkili  ulaşmasını sağlamak,<br />
      •  Öğrencilerin projelerini daha disiplinli bir şekilde hazırlayacakları bir ortam  yaratmak,<br />
      • Başvurusu  yapılan projelerin bir veritabanında saklanarak, projelerin birikmesini ve bu  sayede dönem sonunda projelerin aynı formatta yayınlanabilmesini, geçmiş  projelerle ilgili istatistik vb. bilgilere erişime olanak sağlamak,<br />
      •  Yarışmanın ulusal çapta düzenlendiğinde projelerin ve başvuruların sağlıklı  yönetilmesini sağlamak.</p>
    <p>Tüm EMO-Genç üyesi arkadaşlarımızı bu yarışmaya davet  ediyoruz.</p>
<br />

<h2>
  Tüm EMO-Genç üyesi arkadaşlarımızı bu yarışmaya davet ediyoruz.
</h2>

