<h2>
Değerli EMO-Genç üyesi arkadaşlarımız ,
</h2>

<p>
  Şubemiz, mühendis adaylarını çalışmalarında teşvik etmek, yaptıkları çalışmaları bilim dünyasına, araştırma kurumlarına, sanayi kuruluşlarına ve kamuoyuna duyurmasına yardımcı olmak, gelecekteki meslek odaları olacak Elektrik Mühendisleri Odası ile bağlarını güçlendirmek amacıyla  2004  yılında  Uludağ Üniversitesinden 8 Projenin katılımıyla birincisi düzenlenen EMO -Genç Özgün Proje Yarışması , yıllar geçtikçe  Dumlupınar Üniversitesi, Balıkesir Üniversitesi, Çanakkale 18 Mart Üniversitesi, Bursa Orhangazi Üniversitesi ve Son olarak Bursa Teknik Üniversitesinin  katılımlarıyla   13 yıl içinde  toplamda 184  projenin katıldığı geleneksel  düzenlenen  bir etkinliğe dönüşmüştür.
</p>

    <p>Bazı fikirlerin de maddi olanaksızlıklar nedeni ile uygulamaya dönüşemediğinin bilincinde olan Şubemiz, isteyen katılımcıların projelerine, ilgilenebilecek kişi ve kuruluşlar ile temasa geçerek gerek maddi gerek ise danışman desteği bulabilmek için çalışmalar yaparak genç mühendis adaylarımızı desteklemek amacındadır.</p>
    <p>Öğrencilerimizin yapmış olduğu bir çok çalışma, ne yazık ki üniversite içinde kalmakta, uygulama alanı bulamamaktadır. Oysa ki genç mühendis adaylarımızın  projeleri içerisinde ülkemiz sanayisi ve bilim dünyası için yararlı olabilecek çalışmaların bulunduğunu düşünüyoruz. Bu proje yarışmasının sonucunda uygulama alanı bulabilecek projelerin ve yaratıcılarının ülkemiz sanayicileri ve girişimcileri ile tanışma olanağına kavuşaca</p>
    <p>Bir ürün elde etmek için yapılacak çalışmaların temelinde teknolojik yenilik  ve yaratıcılık bulunmalıdır. Bu nedenle yarışmamızın adı ÖZGÜN PROJE YARIŞMASI olarak adlandırılmıştır.</p>

<p>
  2016-2017 Eğitim öğretim yılında Uludağ Üniversitesi Mühendislik Fakültesi Elektrik - Elektronik Mühendisliği Bölümü,  Balıkesir Üniversitesi Mühendislik Mimarlık Fakültesi - Elektrik Elektronik Mühendisliği Bölümü, Bursa Teknik Üniversitesi Mühendislikve Doğa Bilimleri Fakültesi Elektrik - Elektronik Mühendisliği Bölümü Lisans öğrencilerinin  katılımı ile 14. Özgün Proje yarışması düzenlenecektir.  
</p>

<p>
  2017 yılında yapacağımız 14. EMO-Genç Özgün Proje yarışmamızın  formatını değiştirerek yarışmanın havasını değiştirmek istedik.
  Amacımız ;
</p>

<li>Özgün Proje yarışmasını, hocalarımızın zoruyla katılan bitirme projeleri yarışması olmaktan çıkarmak ,</li>
<li>Birinci sınıftan itibaren her sınıftan öğrencinin katılabileceği, özgün fikirlerin toplanacağı bir yarışma haline getirmek ,</li>
<li>Yarışmaya katılan öğrencilere eğitimler, seminerler düzenleyerek öğrencilerin mesleki birikimlerini geliştirmelerine katkıda bulunmak ,</li>
<li>Yarışmacıları Ar-Ge konusunda bilinçlendirmek, eğitmek ve tecrübe kazanmalarına yardımcı olmak ,</li>
<li>Yarışmacı mentorluğu (danışmanlığı) sayesinde öğrencilerin sanayi tecrübeleriyle buluşturmak, deneyimlerinin artmasına katkıda bulunmak ,</li>
<li>Eleco Gelecek Parkını zenginleştirecek projelerin gerçekleştirilmesini sağlamak ,</li>
<li>Yarışma projelerinin kalitesini arttırarak kısa vadede yurt çapında örnek bir yarışma olabilmesini sağlamak .</li>

<br>
<p>
  Sizlerin projelerinizi girebilmeniz amacıyla Ekim ayında devreye alacağımız yeni bir WEP Portal oluşturuyoruz. WEB Portali oluşturma amacımız ;
</p>

<li>Üyelik sistemiyle öğrencilerle etkili iletişim ortamı yaratarak, şubemizde düzenlenecek eğitimlere katılımın arttırılmasını sağlamak ,</li>
<li>Gönüllü katılımcılar ile EMO-Genç alt yapısını zenginleştirmek, EMO ile bağlarını güçlendirmek ,</li>
<li>Proje hazırlayan ve gönüllü öğrencilerin web sitesiyle bağının sürekliliğini sağlanması, bu sayede öğrencilere EMO etkinlik duyurularının daha etkili ulaşmasını sağlamak ,</li>
<li>Öğrencilerin projelerini daha disiplinli bir şekilde hazırlayacakları bir ortam yaratmak ,</li>
<li>Başvuru yapılan projelerin bir veritabanında saklanarak, projelerin birikmesini ve bu sayede dönem sonunda projelerin aynı formatta yayınlanabilmesini, geçmiş projelerle ilgili istatistik vb. bilgilere erişime olanak sağlamak ,</li>
<li>Yarışmanın ulusal çapta düzenlendiğinde projelerin ve başvuruların sağlıklı yönetilmesini sağlamak.</li>

<br />

<h2>
  Tüm EMO-Genç üyesi arkadaşlarımızı bu yarışmaya davet ediyoruz.
</h2>