@charset "utf-8";

@import "normalize-rails";

@import "bourbon";
@import "neat";

@import "base/base";
@import "refills/flashes";
@import "refills/type-system-sans";
@import "refills/navigation";
@import "refills/hero";
@import "refills/icon-bullet-points";
@import 'refills/footer-2';
@import "refills/accordion-tabs-minimal";
@import "refills/grid-items-lines";
@import "refills/tables";
@import "refills/switch";
@import "components/devise";

body {
  @include outer-container(80%);
  #js-navigation-menu > li> button > a {
    color: white;
  }
}

.main_page_container {
  @include fill-parent;
  @include padding(2em null 1em null);
  .home_page.bullets {
    @include padding(1em null null null);
  }
  .breadcrumb {
    @include margin(null null 1em null);
  }
  .logos {
    text-align: center;
    @include margin(auto null 30px null);
    img {
      width: 200px;
      margin: 20px;
    }
  }
}

hr {
  width: 100% !important;
}

header.navigation ul li.nav-link button {
  a {
    padding-right: 0px !important;
  }
  &.application-btn {
    background-color: green;
  }
}

.review_final_container {
  .review_result {
    @include margin(2em null 2em null);
    @include span-columns(8);
    @include shift(2);
  }
  .final_container__switch {
    @include span-columns(8);
  }
}


