<p>Merhaba <%= @resource.name %>!</p>

<p>Birisi Proje Yarışması portalında sizin adınıza şifre değişikliği talep etti. Bu sizseniz, aşağıdaki link ile yapabilirsiniz.</p>

<p><%= link_to 'Şifremi Değiştir', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Bu değişikliği siz talep etmediyseniz, lütfen bu maili görmezden gelin.</p>
<p>Şifreniz siz yukarıdaki linke tıklayarak şifre değişikliği işlemini tamamlamadığınız sürece değişmez.</p>
