<p>Merhaba <%= @resource.name %>!</p>

<p>Hesabınız birden fazla başarısız giriş denemesi nedeniyle kilitlendi.</p>

<p>Hesabınızı yeniden aktifleştirmek için aşağıdaki linke tıklayın.</p>

<p><%= link_to 'Hesabımı Yeniden Aktifleştir', unlock_url(@resource, unlock_token: @token) %></p>
