<div class="hero">
  <div class="hero-content">
    <h1>
      Aranıyor: Özgün Projeler!
    </h1>
    <p>EMO Genç üyesi misiniz? Özgün, yenilikçi bir bitirme projeniz mi var? Sizi arıyoruz. Bitirme projesi yarışmamıza katılın, ödülleri toplayın!</p>
    <button>Daha fazla bilgi</button>
  </div>
</div>
