<ul class="home_page bullets">
  <li class="bullet">
    <div class="bullet-icon bullet-icon-1">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Kimler Katılabilir</h2>
      <p>Yarışmaya EMO-Genç üyesi ve başımıza icat çıkarmaya meraklı tüm arkadaşlarımız katılabilir. Projeniz ve yarışma ile ilgili diğer detaylar için <a href="<%= page_path("yarisma") %>">bu sayfaya</a> bakabilirsiniz.</p>
      </div>
  </li>  
  <li class="bullet">
    <div class="bullet-icon bullet-icon-1">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Ödüller</h2>
      <p>Yarışmanın ödülleri 1.Proje için 2000₺, 2.Proje için 1500₺, 3.Proje için 1000₺ ve mansiyon için 750₺'dir. Değerlendirmeler ve diğer bilgiler için <a href="<%= page_path("kimler") %>">bu sayfaya</a> bakabilirsiniz.</p>
    </div>
  </li>
  <li class="bullet">
    <div class="bullet-icon bullet-icon-1">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Proje Konuları</h2>
      <p>Yarışma aydınlatma ekipmanlarından devre sistemlerine, mekatronikten yüksek gerilim tekniğine geniş bir konu spektrumunu kapsamaktadır. Daha detaylı konu listesi için <a href="<%= page_path("kimler") %>">bu sayfaya</a> bakabilirsiniz.</p>
    </div>
  </li> 
</ul>
