<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="logo">
      <img src="<%= asset_url("ll.png") %>" alt="Logo Image">
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="navigation-tools">
      <nav role="navigation">
        <ul id="js-navigation-menu" class="navigation-menu show">
          <li class="nav-link"><a href="javascript:void(0)">Ana Sayfa</a></li>
          <li id="js-navigation-more" class="nav-link more"><a href="javascript:void(0)">Yarışma Hakkında</a>
            <ul class="submenu">
              <li><a href="#">Yarışma</a></li>
              <li><a href="#">Şartname</a></li>
            </ul>
          </li>
          <li class="nav-link"><a href="javascript:void(0)">Galeri</a></li>
          <li class="nav-link"><a href="javascript:void(0)">İletişim</a></li>
          <li class="nav-link"><button>Kullanıcı Girişi</button></li>
      </nav>
    </div>
  </div>
</header>
