<div class="logos">
  <h2>Destekleyen Kuruluşlar</h2>
  <img src="<%= image_path("uludag") %>" alt="" class="university_logo">
  <img src="<%= image_path("btu") %>" alt="">
  <img src="<%= image_path("balikesir") %>" alt="">
</div>
