<div class="logos">
  <h2>Destekleyen Kuruluşlar</h2>
  <img src="<%= image_path("uludag.jpg") %>" alt="" class="university_logo">
  <img src="<%= image_path("btu.jpg") %>" alt="">
  <img src="<%= image_path("balikesir.jpg") %>" alt="">
</div>
